.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-cube
        | DriveQL
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        if user
          li(class=title=='Files'?'active':undefined)
            a(href='/api/files') Files
          li(class=title=='Synced'?'active':undefined)
            a(href='/api/synced') Synced
          li(class=title=='qraphiQL'?'active':undefined)
            a(href='/graphql') graphiQL
      ul.nav.navbar-nav.navbar-right
        if !user
          form.form-horizontal(method='POST')
            .form-group
              a.btn.btn-block.btn-google.btn-social(href='/auth/google')
                i.fa.fa-google-plus
                | Sign in with Google
        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src='#{user.profile.picture}')
              else
                img(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/logout') Logout
