extends ../layout

block content
  h3
    i.fa.fa-group
    |  My Files
  .row
    for file in files
      .col-xs-3.col-md-2
        a.thumbnail(href='/api/file/#{file.id}')
          img(src='#{file.thumbnailLink}',
            onerror="this.style.visibility='hidden'")
          p.fileTitle #{file.title}
        a.syncLink(href='/api/addsync/#{file.id}')
          | +
