extends ../layout

block content
  h3
    i.fa.fa-group
    |  My Files
  .row
    for file in files
      .col-xs-3.col-md-2
        a.thumbnail(
          href='https://docs.google.com/spreadsheets/d/#{file.id}',
          target="_blank")
          img(src='#{file.thumbnailLink}',
            onerror="this.style.visibility='hidden'")
          p.fileTitle #{file.title}
        if file.synced
          a.unsyncLink(href='/api/unsyncf/#{file.id}')
            | x
          a.graphqlLink(href='/graphql?query=%7B%0A%20%20#{file.cleanTitle}%20%7B%0A%09%09%0A%09%7D%0A%7D')
            img.graphql-small-icon(src='/graphql.svg')
        else
          a.syncLink(href='/api/file/#{file.id}')
            | +
