extends ../layout

block content
  h3
    i.fa.fa-group
    |  Synced
  .row
    for file in apiFiles
      .col-xs-3.col-md-2
        a.thumbnail(
          href='https://docs.google.com/spreadsheets/d/#{file.id}',
          target="_blank")
          img(src='#{file.thumbnailLink}',
            onerror="this.style.visibility='hidden'")
          p.fileTitle #{file.title}
        a.unsyncLink(href='/api/unsync/#{file.id}')
          | ✗
        a.graphqlLink(href='/graphql?query=%7B%0A%20%20#{file.cleanTitle}%20%7B%0A%09%09%0A%09%7D%0A%7D')
          img.graphql-small-icon(src='https://cdn1.lockerdome.com/uploads/ac18f3912e2e82859174d4748953e159a63efec2ef6318c828e43b0c785b8b5e_thumb_medium')
